/*-------------responsivo----------------*/

footer{
	padding: 2% 8%;
}

footer div{
	display: inline-block;
	vertical-align: middle; 
	width: 30%;
	text-align: center;
	font-size: 1.2em;
}
footer div img{
	padding: 0% 4%;
}

h1, h2{
	font-size: 1.5em;
	margin: 0;
}
header nav ul li a{
	font-size: 1em;
}
hgroup{
	padding: 0.4em 0;
	margin: 1.5%;
	width: 32%;
}

hgroup, nav{
	display: inline-block;
	vertical-align: top
}
header div{
	padding: 0% 8%;
}
nav{
	margin: 1em 0;
	text-align: center;
	width: 62%;
}
nav ul {
	padding: 0;
}
nav ul li{
	display: inline-block;
	padding: .8em 0;
	width: 20%;
	vertical-align: middle; 
}

nav ul li a{
	padding: 1em;
}

/*-----------------------------------------*/
/*------------------FOOTER ABAJO-----------*/
section{min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -6em 0;
}

footer{
    height: 6em;
}
/*----------------------------------------*/
/*-----------------hovers-----------------*/

footer div img:hover{
	transition: .3s;
	
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	-webkit-transform: scale(0.9);
    transform: scale(0.9);
}
h1:hover,h2:hover{
	transition: .5s;
	-moz-transform: translateX(-10px) ;
	-ms-transform: translateX(-10px) ;
	-o-transform: translateX(-10px) ;
  	-webkit-transform: translateX(-10px);
  	transform: translateX(-10px) ;
	/*-webkit-transform: rotate(1deg);
 	 transform: rotate(1deg);*/
}
nav ul li:hover{
	transition: .3s;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  background-color: #017FD8; 
  /*outline: dotted blue;*/
}
/*----------------------------------------*/

#chat{
	padding: 1% 0;
	width: 100%;
}

#contenedor{
	background: #61A1F3;
	display: block;
	height: 27em;
	margin-bottom: 1em;
	width: 100%;
}

#ContenedorMSN {
	border-radius: 0.8em;
	padding: 1%;
	margin-right: 1%;
	max-width: 65%;
	width: 64%;
}

#ContenedorMSN, #usuarios {
	display: inline-block;
	vertical-align: top;
}

#usuarios {
	border-radius: 0.8em;
	height: 27em;
	text-align: center;
	width: 30%;
}

#login{
	height: 40em;
	text-align: center;
	width: 100%;
}

#login div{
	background: #61A1F3;
	display: inline-block;
	margin: auto;
	margin-top: 18em;
	width: 25%;
}

#login div input{
	display: block;
	margin: 1em auto;
}

#mensaje{
	width: 85%;
}

#mensaje, #enviar{
	display: inline-block;
	vertical-align: bottom;
}