{% extends "layout.html" %}
{% block vistas %}
<script src="/socket.io/socket.io.js"></script>
<script src="../js/mensChat.js"></script>
<section id="login" style="display:none;">
	<div id="cLogin">
		<h2>Login</h2>
		<input id="nuevoUsuario" type="text" placeholder="Usuario" required="required" />
		<button id="agregar">
			Enviar
		</button>
	</div>
</section>
<section id="chat" style="display:none;">
	<article id="ContenedorMSN">
		<div id="contenedor"></div>
		<textarea id="mensaje" cols= "40" rows= "4" wrap="soft" placeholder="Escribe tu mensaje"></textarea>
		<button id="enviar">
			Enviar
		</button>
	</article>
	<aside id="usuarios">
		<h3>Usuarios Conectados</h3>
		<ul id="listaUs">
			<li>
				Bill Gates
			</li>
			<li>
				Pepe el Toro
			</li>
			<li>
				Yoloxóchitl Bustamante
			</li>
		</ul>
	</aside>
</section>
{% endblock %}
